## Primeiro exemplo: classificando porcos e cachorros.

In [1]:
# Definindo elementos para treinar o modelo de machine learning (treino_x): 
# features: é gordinho? tem perninha curta? faz au au?
porco1 =    [1, 1, 0]
porco2 =    [1, 1, 0]
porco3 =    [1, 1, 0]
cachorro1 = [1, 1, 1]
cachorro2 = [0, 1, 1]
cachorro3 = [0, 1, 1]

dados = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]

# Definindo a classificação para treino do modelo de machine learning (treino_y): porco = 1, cachorro = -1
marcacoes = [1, 1, 1, 0, 0, 0]

In [2]:
# Elementos misteriosos (teste_x):
misterioso1 = [1,1,1]
misterioso2 = [1,0,0]
misterioso3 = [0,0,1]

teste = [misterioso1, misterioso2, misterioso3]

marcacoes_teste = [0,1,0]

In [3]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(dados, marcacoes)
resultado = modelo.predict(teste)
resultado

array([0, 1, 0])

In [4]:
# Taxa de Acertos:
diferencas = resultado - marcacoes_teste

acertos = [d for d in diferencas if d==0]
acertos

[0, 0, 0]

In [5]:
total_de_acertos = len(acertos)
total_de_elementos = len(teste)
taxa_de_acertos = (total_de_acertos/total_de_elementos) * 100

taxa_de_acertos

100.0

## Um novo exemplo: por quais páginas um indivíduo que comprou um produto passou?

In [6]:
import pandas as pd

dados = pd.read_csv("acesso.csv")
dados.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [7]:
nomes_das_colunas = {
    'acessou_home' : 'home',
    'acessou_como_funciona' : 'como_funciona',
    'acessou_contato' : 'contato'
}

dados.rename(columns=nomes_das_colunas, inplace=True)

In [8]:
X = dados[['home', 'como_funciona', 'contato']]
Y = dados['comprou']

In [9]:
X.head()

   home  como_funciona  contato
0     1              1        0
1     1              1        0
2     1              1        0
3     1              1        0
4     1              1        0

In [10]:
Y.tail()

94    0
95    1
96    0
97    0
98    0
Name: comprou, dtype: int64

#### Treinando e testando o modelo com todos os dados:

In [11]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(X, Y)

# Criando um elemento para teste:
teste = [[1,0,1], [0,1,0], [1,0,0], [1,1,0], [0,0,1], [1,1,1]]
resultado = modelo.predict(teste)
resultado

array([1, 0, 0, 0, 0, 0], dtype=int64)

In [12]:
# Taxa de Acertos:

Y_predito = modelo.predict(X)

diferencas = Y_predito - Y

acertos = [d for d in diferencas if d==0]

total_de_acertos = len(acertos)
total_de_elementos = len(X)
taxa_de_acertos = (total_de_acertos/total_de_elementos) * 100

taxa_de_acertos

93.93939393939394

#### Treinando e testando o modelo com uma parte dos dados (90% dos dados para treino, 10% para teste): 88,89% de acerto

In [13]:
treino_X = X[:90]
treino_Y = Y[:90]
teste_X = X[-9:] # últimas 9 linhas
teste_Y = Y[-9:] # últimas 9 linhas

In [14]:
len(treino_X)

90

In [15]:
len(teste_Y)

9

In [16]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(treino_X, treino_Y)
Y_predito = modelo.predict(teste_X)

# Taxa de Acertos:

diferencas = Y_predito - teste_Y

acertos = [d for d in diferencas if d==0]

total_de_acertos = len(acertos)
total_de_elementos = len(teste_X)
taxa_de_acertos = (total_de_acertos/total_de_elementos) * 100

taxa_de_acertos

88.88888888888889